version = 0.26.1
break-cases=toplevel
break-collection-expressions=wrap
if-then-else=k-r
function-indent=4
extension-indent=4
indent-after-in=4
let-binding-indent=4
match-indent=4
match-indent-nested=always
cases-exp-indent=4
margin=60
